h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  @media #{$medium-up} {
  }
  @media #{$large-up} {
  }
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
  font-weight: 200;
}
.font-weight-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-heavy {
  font-weight: 800;
}

.quiet {
  font-size: 80%;
}

.image-title {
  background-color: $light-gray;
  height: 3.5em;
  padding-top: 1em;
}

.level-two-link {
  clip-path: circle(4rem at center);
  min-height: 8rem;
  padding-top:2rem;
  font-weight: bold;
  color: $white;
  background-color: $primary-color;
  &:hover {
    color: scale-color($white, $lightness: -15%);
    background-color: scale-color($primary-color, $lightness: -15%);
  }
  p {
    vertical-align: middle;
    max-width: 6rem;
  }
  @media #{$large-up} {
    clip-path: circle(6rem at center);
    min-height: 12rem;
    padding-top: 4rem;
  }
}

.round-image {
  clip-path: circle(50% at center);
}

.sticky {
  z-index: 1;
}

.top-bar {
    margin-bottom: 1em;
    border-bottom: 1px solid $white;
    background-color: $primary-color;
    ul, ul ul {
      background-color: $primary-color;
    }
    a {
      color: $white;
    }
}

.menu-text {
  padding: 0;
}

.brand-logo {
  height: 2rem;
  width: 2rem;
  margin-top: .5rem;
  float: left;
}

footer {
  border-top: 1px solid $white;
  margin-top: 1rem;
  padding-top: 1rem;
  background-color: $primary-color;
  color: $white;
  a {
    color: $white;
    &:hover {
      color: scale-color($white, $lightness: -15%);
    }
  }
  h6 {
    margin-bottom: 0;
  }
}

.map {
  height: 20em;
  width: 100%;
}

.home-section {
  padding-bottom: 18%;
  padding-top: 18%;
}

.home-library {
  background-color: $primary-color;
  h3: {
    color: $white;
  }
}

.button.hollow.orange {
  border-color: $orange;
  color: $orange;
  &:hover {
    border-color: scale-color($orange, $lightness: -15%);
    color: scale-color($orange, $lightness: -15%);
  }
}

.home-title hr {
  border-bottom-color: $orange
}
