h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  @media #{$medium-up} {
  }
  @media #{$large-up} {
  }
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
  font-weight: 200;
}
.font-weight-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-heavy {
  font-weight: 800;
}

.quiet {
  font-size: 80%;
}

.image-title {
  background-color: $light-gray;
  height: 3.5em;
  padding-top: 1em;
}

.level-two-link {
  background-color: $light-gray;
  -webkit-clip-path: circle(60px at center);
  clip-path: circle(60px at center);
  min-height: 120px;
  padding-top:2em;
}

.level-two-link p {
  vertical-align: middle;
  max-width: 100px;
}

.round-image {
  clip-path: circle(50% at center);
}

.sticky {
  z-index: 1;
}

.top-bar {
    border-bottom: 1px solid $primary-color;
    margin-bottom: 1em;
}

.menu-text {
  padding: 0;
}

footer {
  border-top: 1px solid $primary-color;
  margin-top: 1rem;
  padding-top: 1rem;
}

.map {
  background-color: $light-gray;
  height: 20em;
  width: 100%;
}

.home-section {
  padding-bottom: 17%;
  padding-top: 17%;
}

.home-library {
  background-color: $light-gray;
}

.top-bar ul ul {
  background-color: $white;
}
