h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  @media #{$medium-up} {
  }
  @media #{$large-up} {
  }
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
  font-weight: 200;
}
.font-weight-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-heavy {
  font-weight: 800;
}

.quiet {
  font-size: 80%;
}

.image-title {
  color: $white;
  height: 6em;
  padding-top: 2em;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 0 0 1em $black;
}

.image-right {
  margin-left: 2em;
  margin-bottom: 2em;
  max-width: 25em
}

.image-left {
  margin-right: 2em;
  margin-bottom: 2em;
  max-width: 25em
}

.outside.level-two-link {
  position: relative;
  min-height:6rem;
	background-color: $primary-color;
  clip-path: circle(3rem at center);
  &:hover {
    background-color: $orange;
  }
  @media #{$medium-up} {
    clip-path: circle(4rem at center);
    min-height:8rem;
  }
  @media #{$large-up} {
    clip-path: circle(6rem at center);
    min-height: 12rem;
    padding-top: 4rem;
  }
}

.inside.level-two-link {
  position: absolute;
  top: .2rem;
  left: .2rem;
  right: .2rem;
  bottom: .2rem;
  background: $light-gray;
  padding-top:1.4rem;
  clip-path: circle(2.8rem at center);
  p {
    max-width: 5rem;
    font-size: .8rem;
  }
  @media #{$medium-up} {
    clip-path: circle(3.8rem at center);
    padding-top:2rem;
    p {
      max-width: 6rem;
      font-size: 1rem;
    }
  }
  @media #{$large-up} {
    clip-path: circle(5.8rem at center);
    min-height: 12rem;
    padding-top: 3.8rem;
    top:0;
    p {
      max-width: 8rem;
      font-size: 1.2rem;
    }
  }

}

.round-image {
  clip-path: circle(50% at center);
}

.sticky {
  z-index: 1;
}

.top-bar {
    // margin-bottom: 1em;
    border-bottom: 1px solid $white;
    background-color: $primary-color;
    ul, ul ul {
      background-color: $primary-color;
    }
    a {
      color: $white;
      text-decoration: none;
    }
}

.top-bar-left {
  min-width: 85%;
  margin-top: .3em;
}

.menu-text {
  padding: 0;
}

.brand-logo {
  height: 38px;
  float: left;
}

footer {
  border-top: 1px solid $white;
  margin-top: 1rem;
  padding-top: 1rem;
  background-color: $primary-color;
  color: $white;
  a {
    text-decoration: none;
    color: $white;
    &:hover {
      color: scale-color($white, $lightness: -15%);
    }
  }
  h6 {
    margin-bottom: 0;
  }
}

.map {
  height: 20em;
  width: 100%;
}

.home-section {
  padding-bottom: 10%;
  padding-top: 10%;
}

.home-library {
  background-color: $primary-color;
  h3: {
    color: $white;
  }
}

.button {
  text-decoration: none;
}

.button.hollow.orange {
  border-color: $orange;
  color: $orange;
  &:hover {
    border-color: scale-color($orange, $lightness: -15%);
    color: scale-color($orange, $lightness: -15%);
  }
}

.button.primary.donate {
    background-color: #FCB040;
    margin: .3rem 0 .3rem 0;
    color: $black;
}

.home-title {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  text-shadow: 0 0 1em $black;
  color: $white;
  hr {
    border-bottom-color: $orange
  }
}

.label > a {
  text-decoration: none;
}

.label-orange {
  background-color: $orange;
  & > a {
    color: $black;
  }
}

.event-tagline {
  font-weight: bold;
}
