name : Center & Library for the Bible and Social Justice
brand : CLBSJ
description : Connecting scholars, students, clergy, activists, and community organizers.
keyword : bible, justice, library, clbsj
url : http://hillelarnold.com/clbsj.org
author : The Center & Library for the Bible and Social Justice
year : 2016
twitter : clbsj
markdown : kramdown
exclude :
  - node_modules
