<div data-sticky-container>
  <div class="sticky" data-sticky data-stick-to="bottom" data-top-anchor="content:bottom" style="width:100%">
    <footer class="footer expanded row">
      <div class="row quiet">
        <div class="small-12 medium-3 large-2 columns">
          <h5><a href="{{site.url}}/about">About</a></h5>
          <ul class="no-bullet">
            <li><a href="{{site.url}}/about/mission-vision">Mission &amp; Vision</a></li>
            <li><a href="{{site.url}}/about/board">Board of Directors</a></li>
            <li><a href="{{site.url}}/about/affiliated-organizations">Affiliated Organizations</a></li>
          </ul>
        </div>
        <div class="small-12 medium-3 large-2 columns">
          <h5><a href="{{site.url}}/news-events">News &amp; Events</a></h5>
        </div>
        <div class="small-6 medium-3 large-2 columns">
          <h5><a href="{{site.url}}/library">Library</a></h5>
          <ul class="no-bullet">
            <li><a href="{{site.url}}/library/collection-policy">Collection Policy</a></li>
            <li><a href="{{site.url}}/library/visit">Using the Library</a></li>
            <li><a href="#">Library Catalog</a></li>
          </ul>
        </div>
        <div class="small-12 medium-3 large-2 columns">
          <h5><a href="{{site.url}}/contact">Contact</a></h5>
        </div>
        <div class="small-12 medium-12 large-4 columns large-text-right">
          <h6>Center &amp; Library for the Bible and Social Justice</h6>
          <ul class="no-bullet">
            <li>17 Cricketown Rd, Stony Point, NY 10980</li>
            <li>845-786-5674</li>
            <li><a href="https://www.facebook.com/clbsj/"><img src="{{site.url}}/img/facebook-sm.png"></a> <a href="https://twitter.com/clbsj/"><img src="{{site.url}}/img/twitter-sm.png"></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
