<div data-sticky-container>
    <div class="top-bar expanded row" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="top-bar-left">
      <img class="brand-logo show-for-medium" alt="CLBSJ logo" src="{{site.url}}/img/clbsjlogo.png">
      <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
        <li class="menu-text"><a href="{{site.url}}/">{{ site.brand }}</a></li>
        <li>
          <a href="{{site.url}}/about">About</a>
          <ul class="menu">
            <li><a href="{{site.url}}/about/mission-vision">Mission &amp; Vision</a></li>
            <li><a href="{{site.url}}/about/board">Board of Directors</a></li>
            <li><a href="{{site.url}}/about/affiliated-organizations">Affiliated Organizations</a></li>
          </ul>
        </li>
        <li><a href="{{site.url}}/news-events">News &amp; Events</a></li>
        <li>
          <a href="{{site.url}}/library">Library</a>
          <ul class="menu">
            <li><a href="{{site.url}}/library/collection-policy">Collection Policy</a></li>
            <li><a href="{{site.url}}/library/visit">Using the Library</a></li>
            <li><a href="https://www.librarything.com/catalog/clbsj">Library Catalog</a></li>
          </ul>
        </li>
        <li><a href="{{site.url}}/contact">Contact</a></li>
      </ul>
    </div>
    <!-- <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div> -->
  </div>
</div>
