<div class="top-bar expanded row"  style="width:100%">
  <div class="top-bar-left">
    <img class="brand-logo show-for-medium" alt="CLBSJ logo" src="/img/clbsjlogo.png">
    <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
      <li class="menu-text"><a href="/">{{ site.brand }}</a></li>
      <li>
        <a href="/about">About</a>
        <ul class="menu">
          <li><a href="/about/mission-vision">Mission &amp; Vision</a></li>
          <li><a href="/about/leadership">Leadership</a></li>
          <li><a href="/about/affiliated-organizations">Affiliated Organizations</a></li>
        </ul>
      </li>
      <li><a href="/events">Events</a></li>
      <li><a href="/news">News</a></li>
      <li>
        <a href="/library">Library</a>
        <ul class="menu">
          <li><a href="/library/collection-policy">Collection Policy</a></li>
          <li><a href="/library/visit">Using the Library</a></li>
          <li><a href="https://www.librarything.com/catalog/clbsj/allcollections">Library Catalog</a></li>
          <li><a href="/library/study-guides">Study Guides &amp; Reviews</a></li>
        </ul>
      </li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <a href="/donate" class="button primary donate">Donate!</a>
  </div>
</div>
