<div class="callout">
  <h4>
    <a href="{{site.url}}{{item.url}}">{{item.title}}</a>
  </h4>
  {% if item.layout == 'reading-the-bible-as-an-activist' %}
    <span class="label label-orange"><a href="{{site.url}}/reading-the-bible-as-an-activist">Reading the Bible as an Activist</a></span>
  {% endif %}
  {% if item.layout == 'from-the-stacks' %}
    <span class="label label-orange"><a href="{{site.url}}/from-the-stacks">From the Stacks</a></span>
  {% endif %}
  <p>{{item.author}}</p>
  <p>{{description}}</p>
  <a class="hollow button small" href="{{site.url}}{{item.url}}">Read More</a>
</div>
