<p>The Center and Library for the Bible and Social Justice invites you to
join us for an interactive dialogue exploring the interfaces
between scholarship and activism. How do these ways of being contribute
to our understanding of Scripture in the world today? Let’s come
together to learn from each other. Most events take place on the third Thursday
of the month at 4:30pm Pacific Time / 7:30pm Eastern Time. We do not meet every
month, and occasionally meet on a different night.</p>

<p>See the <a href="/events/scholar-activist-encounters/">full schedule</a>
of the Scholar-Activist Encounter series. For questions, email
<a href="mailto:info@clbsj.org">info@clbsj.org</a>.</p>

<p>This series is co-sponsored by the Community of Living Traditions.</p>
