<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Library",
  "name": "Center & Library for the Bible and Social Justice",
  "url": "{{ site.url }}",
  "logo": "{{ site.url }}/img/clbsjlogo-lg.png",
  "image": "{{ site.url }}/img/clbsjlogo-lg.png",
  "address":  {
    "@type": "PostalAddress",
    "addressCountry": "United States",
    "addressLocality": "Stony Point",
    "addressRegion": "NY",
    "contactType": "Mailing address",
    "postalCode": "10980",
    "streetAddress": "17 Cricketown Rd."
  },
  "email": "mailto:info@clbsj.org",
  "telephone": "845-786-5674",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "closes":  "17:00:00",
      "dayOfWeek": "http://schema.org/Tuesday",
      "opens":  "09:00:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "closes": "17:00:00" ,
      "dayOfWeek": "http://schema.org/Wednesday",
      "opens": "09:00:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "closes":  "17:00:00",
      "dayOfWeek": "http://schema.org/Thursday",
      "opens": "09:00:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "closes": "17:00:00",
      "dayOfWeek": "http://schema.org/Friday",
      "opens": "09:00:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "closes": "17:00:00",
      "dayOfWeek":  "http://schema.org/Saturday",
      "opens": "09:00:00"
    }]
}
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/bower_components/jquery/dist/jquery.js"><\/script>')</script>
<script src="/bower_components/what-input/what-input.js"></script>
<script src="/bower_components/foundation-sites/dist/foundation.js"></script>
<script src="/js/wufoo.js"></script>
<script src="/js/app.js?v5"></script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-23093141-1', 'auto');
  ga('send', 'pageview');
</script>

<!-- This site is converting visitors into subscribers and customers with OptinMonster - https://optinmonster.com -->
<script>(function(d,u,ac){var s=d.createElement('script');s.type='text/javascript';s.src='https://a.omappapi.com/app/js/api.min.js';s.async=true;s.dataset.user=u;s.dataset.account=ac;d.getElementsByTagName('head')[0].appendChild(s);})(document,268222,285821);</script>
<!-- / OptinMonster -->