---
layout: level-two
title: Leadership
description:
keywords: board of directors
---
<!-- List of board members -->
{% assign president = site.pages | where: 'officer', 'President' %}
{% assign treasurer = site.pages | where: 'officer', 'Treasurer' %}
{% assign secretary = site.pages | where: 'officer', 'Secretary' %}
{% assign board_members = site.pages | where: 'category', 'board-member' | sort: 'sort' %}
{% assign staff_members = site.pages | where: 'category', 'staff' | sort: 'sort' %}
{% assign advisory_committee_members = site.pages | where: 'category', 'advisory-committee-member' | sort: 'sort' %}

<h2>Board</h2>
{% for page in president %}
  {% include officer.html %}
{% endfor %}
{% for page in treasurer %}
  {% include officer.html %}
{% endfor %}
{% for page in secretary %}
  {% include officer.html %}
{% endfor %}

{% for page in board_members %}
  {% unless page.officer %}
    {% include board_member.html %}
  {% endunless %}
{% endfor %}

<h2>Staff</h2>
{% for page in staff_members %}
  {% include staff.html %}
{% endfor %}

<h2>Advisory Committee</h2>
{% for page in advisory_committee_members %}
  {% include board_member.html %}
{% endfor %}
