---
layout: default
---

<div class="small-8 small-offset-2 columns">
  <h1>{{ page.title }}</h1>
  <p>{{page.job-title}}, {{page.institution}}</p>

  <div class="row">
    <div class="medium-3 columns">
      <img class="round-image" src="{{site.url}}{{page.image}}">
    </div>
    <div class="medium-9 columns">
      {{ content }}
    </div>
  </div>

  {% if page.publications %}
    <div class="callout">
      <h4>Publications</h4>
      <ul class="resources no-bullet">
        {% for publication in page.publications %}
          {% assign p = publication[1] %}
          <li><a href="{{p.url}}">{{p.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if page.websites %}
    <div class="callout">
      <h4>Websites</h4>
      <ul class="websites no-bullet">
        {% for website in page.websites %}
          {% assign w = website[1] %}
          <li><a href="{{w.url}}">{{w.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  </div>
