---
layout: level-two
---

{%- assign events = site.posts | where: 'category', 'events' | where: 'series', page.slug -%}

{%- if page.tagline -%}
<p class="event-tagline">{{page.tagline}}</p>
{%- endif -%}

{%- if page.image_filename -%}
{%- include image-right.html filename=page.image_filename alt_text=page.image_alt_text -%}
{%- endif -%}

{{ content }}

<div class="series-events">
  <h2 class="event-list-heading">Upcoming Events</h2>
  <div class="flex-wrap">
  {%- for item in events reversed -%}
    {% include event-series-list-card.html class='filter-before-date' %}
  {%- endfor -%}
  </div>
</div>
<div class="series-events">
  <h2 class="event-list-heading">Past Events</h2>
  <div class="flex-wrap">
  {%- for item in events -%}
    {% include event-series-list-card.html class='filter-after-date' %}
  {%- endfor -%}
  </div>
</div>

{% if page.leadership %}
<div class="series-leadership">
  <h2 class="series-leadership-heading">Leadership Team</h2>
  {% for leader in page.leadership %}
    <h3>{{leader.name}}</h3>
    <p>{{leader.description | markdownify }}</p>
  {% endfor %}
</div>
{% endif %}
{%- if page.location -%}
<iframe width="100%" height="250px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{page.location}}&key=AIzaSyDhohzY1SCbmQNhdmJJivBvTczWEfhZPgg" allowfullscreen></iframe>
{%- endif -%}

{%- if page.tags -%}
{%- assign tags = page.tags -%}
{%- include tags.html -%}
{%- endif -%}

{%- if page.image_caption -%}
{%- include event-series-image-caption.html text=page.image_caption -%}
{%- endif -%}
