---
layout: level-one
title: Events
description: >-
  During the COVID-19 pandemic, all our events are being held online. You can
  register to attend via Zoom, or you can watch them via livestream on
  our Facebook page.
keywords: events
image: /img/events.jpg
---

<div class="medium-10 medium-offset-1">

  <p>During the COVID-19 pandemic, all our events are being held online. You can
    register to attend via Zoom, or you can watch them via livestream on
    <a href="https://www.facebook.com/clbsj/">our Facebook page</a>.</p>

  <div class="medium-12 columns">
    <h2>Upcoming Events</h2>
    {% include event-list.html %}
  </div>
</div>

<hr/>

<div class="medium-10 medium-offset-1">
  <div class="medium-12 columns">
    <h2>Events Series</h2>
    {% for series in site.event_series %}
      {% include event-series-item.html series=series %}
    {% endfor %}
  </div>
</div>
